<div class="d-flex justify-content-center">
  <form class="form card" [formGroup]="form" (submit)="submit()">
    <div class="card_header">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path fill="currentColor"
          d="M4 15h2v5h12V4H6v5H4V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v18a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6zm6-4V8l5 4-5 4v-3H2v-2h8z">
        </path>
      </svg>
      <h1 class="form_heading">Admin Login</h1>
    </div>
    <div class="field">
      <label for="">Email</label>
      <input type="email" formControlName="email" placeholder="email" class="form-control" required>
      <div class="text-danger" *ngIf="form.controls['email'].invalid && form.controls['email'].errors?.['email']">
        enter a valid email</div>
      <div class="text-danger" *ngIf="form.controls['email'].errors?.['required'] && form.controls['email'].touched">
        enter a valid email</div>
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input type="Password" formControlName="password" placeholder="password" class="form-control" required>
      <div class="text-danger" *ngIf="form.controls['password'].errors?.['required'] && form.controls['password'].touched">
        enter a password
      </div>
   
    </div>
    <div class="field">
      <button [disabled]="form.invalid" class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </div>
  </form>
</div>